body {
  margin: 0;
}

#header {
  background-color: blue;
  height: 100px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#header:hover {
  height: 200px;
}

#footer {
  background-color: black;
  height: 100px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#footer:hover {
  height: 200px;
}

.important {
  background-color: red;
  height: 100px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.important:hover {
  height: 200px;
}

.interesting {
  background-color: green;
  height: 100px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.interesting:hover {
  height: 200px;
}

.surprising {
  background-color: orange;
  height: 100px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.surprising:hover {
  height: 200px;
}
